.wrapper {
  max-width: var(--max-width);
  margin: auto;
  margin: 0 24px;
}

.searchField {
  position: relative;
  margin-bottom: 12px;
}

.input {
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--color-black);
}

.addressList {
  position: absolute;
  background: var(--color-white);
  list-style: none;
  margin-top: -24px;
  padding-top: 24px;
  top: 100%;
  z-index: 9;
  border: 2px solid var(--color-black);
  border-top: none;
  width: 100%;
  border-radius: 0 0 12px 12px;
}

.addressListItem {
  padding: 12px;
  font-weight: 400;
  cursor: pointer;
}

.tipAddress {
  padding: 4px;
  border: none;
  width: 260px;
  font-size: 16px;
  background-color: var(--color-gray);
  outline-color: var(--color-gray);
}

.copyButton {
  cursor: pointer;
  padding: 2px 4px;
  border: 1px solid var(--color-black);
  border-radius: 4px;
}